
h1 {
  color: #cc00cc;
  text-align: center;
  background-color: #f1f1f1;
  padding: 100px;
}
button {
  background-color: #cc00cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#module-info{
  color: #cc00cc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #f1f1f1;
}
